<nav>
    <ul>
        <p><li><a href=",">ホーム</a></li></p>
        <p><li><a href=",">話題を検索</a></li></p>
        <p><li><a href=",">通知</a></li></p>
        <p><li><a href=",">メッセージ</a></li></p>
        <p><li><a href=",">ブックマーク</a></li></p>
        <p><li><a href=",">リスト</a></li></p>
        <p><li><a href=",">プロフィール</a></li></p>
        <p><li><a href=","><%= link_to'つぶやく', new_tweet_path %></a></li></p>
        
    </ul>
</nav>