<% if @tweet.errors.present? %>
    <h3>
        エラーがあります
    </h3>
    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<div id="form">
  <%= render "form" %>
</div>
<p><%= link_to 'トップへ戻る', :back %></p>